*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {font-family: "Edu AU VIC WA NT Hand", cursive;}
div {
border: 1px solid black;
height: 100px;
width: 100px;
background-color: aqua;
margin: 0px auto;
margin-bottom: 20px;
}
div.red {
background-color: red;
}
div.green {
background-color: green;
}
div.aqua {
background-color: aqua;
}

h1{
font-family: Arial, Helvetica, sans-serif;
text-align: center;/*horizontal*/
line-height: 100px;/

}
.circle {
border-radius: 50%;
}